.parallax1 {
    background-image: url(1500x1098.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-size: cover;
}

.parallax2 {
    background-image: url(universe.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-size: cover;
}

body {
    background-color: black;
}

@font-face {
    font-family: Source-Serif-Pro-Light; 
    font-style: normal;
    font-weight: normal;
    src: url(SourceSerifPro-Light.ttf);}

@font-face {
    font-family: Source-Serif-Pro-Light;
    font-style: normal;
    font-weight: bold;
    src: url(SourceSerifPro-SemiBold.ttf);
}

.landingtext {
    font-family: Source-Serif-Pro-Light;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
    min-height: 700px;
    max-height: 700px;
}

li {
    color: white;
    list-style-type: none;
    min-height: 10px;}

.menubutton {
    min-height: 40px;
    min-width: 115px;
    background-color: black;
    color: #fff;
    border-style: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.menubutton:hover {
    background-color: #fff;
    color: black;
    border-style: solid;
    border-width: 1px;
}

.menu {
    position: relative;
    max-width: 1050px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.page {
    display: flex;
    flex-direction: column;
    
}

h2 {
    color: rgba(255, 255, 255);
    font-size: 70px;
    font-weight: normal;
    font-family: Source-Serif-Pro-Light;
    text-align: center;
    transition-duration: 0.4s; 
}


.blackcontainer {
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    font-family: sans-serif;
    font-size: 22px;
    color: #fff;
    min-height: 60px;
    margin-left: 40px;
    margin-right:40px
}

.tarja {
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}

.colorblack {
    color: black
}

.colorwhite {
    color: white;
}

.whitecontainer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    min-height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

.servo{
    filter: grayscale();
    transition-duration: 0.4s; 
}

.servo:hover{
   filter: none;
   border-radius: 50px;
}

.servosbox{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: center;
}

.servodisplay {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    min-height: 460px;
    
}

.servodisplay:hover {
    background-color: rgba(255, 255, 255, 0.096);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 460px;
    border-radius: 30px;
}

h3 {
    font-family: Source-Serif-Pro-Light;
    font-weight: bold;
    background-color: white;
    min-width: 200px;
    border-radius: 20px; 
}

a {
    text-decoration: none;
    color:#fff;
    transition-duration: 0.4s;
}

a:hover{
    color:black
}

html {
    scroll-behavior: smooth;
}

.whitecontainer2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    min-height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 600px;
}

hr {
    color: rgb(209, 208, 208);
}

.paypal {
    text-align: center;
}